.sidebar {
  height: 100vh;
  flex: 0.15;
  background-color: #040404;
  color: white;
  min-width: 230px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar > img {
  width: 70%;
  padding: 20px;
  padding-top: 0;
}

.sidebar_title {
  margin-left: 10px;
  padding: 5px;
  font-size: 14px;
}

hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
